<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../css/imgStyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../css/textStyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../css/map.css" type="text/css" rel="stylesheet" media="screen,projection"/>